 body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: wheat;
    min-height:100vh;
 }
 .menu {
  width: 80%;
  background-color: burlywood;
  padding: 40px;
  max-width: 900px;
  min-height:100vh;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1, h2, h3 ,h4{
color: #333;
font-style: italic;
}
p,li {
  color: #555;
  line-height: 1.6;
  
}
a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}